html,
body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

code {
  display: block;
  font-family: monospace;
  white-space: pre-wrap;
  word-break: break-all;
  padding: 1.24rem;
}

#canvas-details {
  display: grid;
  place-items: center;
}

@media screen and (min-width: 620px) {
  #canvas-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }
}