.root {
    padding: .5rem;
    border-bottom: 4px solid;
    position: sticky;
    top: 0px;
    background: white;
    display: flex;
    flex-flow: row wrap;
    gap: .75rem;
    align-items: center;
}